@import 'mixins.css';
@import 'settings.css';

.main-section {
  width: 50%;
  @mixin simpleBoxShadow;

  margin: 16px;
  border-radius: $global-radius;
}

  .main-section__header {
    font-size: $font-medium;
    text-align: center;
  }

  .main-section__list {
    list-style: none;
    padding: 16px;
  }

