@import 'mixins.css';
@import 'settings.css';

.scoreboard {
  @mixin simpleBoxShadow;
  width: 40%;
  margin: 16px;
  border-radius: $global-radius;
}

  .scoreboard__header {
    text-align: center;
    font-size: $font-medium;
  }

  .scoreboard__list {
    padding: 16px;
    list-style: none;
  }

  .scoreboard__list-item {
    display: flex;
    justify-content: space-between;
  }

  .scoreboard__topic {
    display: inline-block;
    font-size: $font-medium;
  }
